@import "../app.component";
:host{
  display: block;
  padding: 10px;
  margin: 10px;
  min-height: 60px;
  background-color: white;
  border-radius: $radius;
  cursor: pointer;
  &:first-of-type{
    margin-top: 0;
  }
}
